In [32]:
# Creating a Pandas DataFrame

# 1. creating empty data frame

import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [33]:
#2. Creating a DataFrame from a List
import pandas as pd

lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']

df = pd.DataFrame(lst)
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [34]:
#3. Creating a DataFrame from a List of Dictionaries
import pandas as pd

dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict)

print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [35]:
#Pandas Dataframe Index

#1. Accessing and Modifying the Index

print(df.index)  # Accessing the index

RangeIndex(start=0, stop=4, step=1)

In [37]:
# 2. Setting a Custom Index

import pandas as pd

data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'], 
        'Age': [25, 30, 22, 35, 28], 
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'], 
        'Salary': [50000, 55000, 40000, 70000, 48000]}

df = pd.DataFrame(data)

df_with_index = df.set_index('Name')
print(df_with_index)

         Age  Gender  Salary
Name
John      25    Male   50000
Alice     30  Female   55000
Bob       22    Male   40000
Eve       35  Female   70000
Charlie   28    Male   48000

In [20]:
#3.Resetting the custom index

df_with_index = df.set_index('Name')

df_reset = df_with_index.reset_index()
print(df_reset)

      Name  Age  Gender  Salary
0     John   25    Male   50000
1    Alice   30  Female   55000
2      Bob   22    Male   40000
3      Eve   35  Female   70000
4  Charlie   28    Male   48000

In [38]:
#4. Indexing with loc

df_with_index = df.set_index('Name')

row = df_with_index.loc['Alice']
print(row)

Age           30
Gender    Female
Salary     55000
Name: Alice, dtype: object

In [27]:
#Pandas Access DataFrame
#1. Accessing Columns From DataFrame


# Display the entire DataFrame
print(df)
# Access the 'Age' column
age_column = df['Age']
print(age_column)

      Name  Age  Gender  Salary
0     John   25    Male   50000
1    Alice   30  Female   55000
2      Bob   22    Male   40000
3      Eve   35  Female   70000
4  Charlie   28    Male   48000
0    25
1    30
2    22
3    35
4    28
Name: Age, dtype: int64

In [39]:
#2. Accessing Rows by Index

second_row = df.iloc[2]
print(second_row)

Name        Bob
Age          22
Gender     Male
Salary    40000
Name: 2, dtype: object

In [40]:
#3. Accessing Multiple Rows or Columns
# Access the first three rows and the 'Name' and 'Age' columns
subset = df.loc[0:2, ['Name', 'Age']]
print(subset)

    Name  Age
0   John   25
1  Alice   30
2    Bob   22

In [30]:
#4. Accessing Rows Based on Conditions

# Access rows where 'Age' is greater than 25
filtered_data = df[df['Age'] > 25]
print(filtered_data)

      Name  Age  Gender  Salary
1    Alice   30  Female   55000
3      Eve   35  Female   70000
4  Charlie   28    Male   48000

In [43]:
#5. Accessing Specific Cells with at and iat

# Access the 'Salary' of the row with label 2
salary_at_index_2 = df.at[2, 'Salary']
print(salary_at_index_2)

40000

In [46]:
salary_at_index_2 = df.iat[2, 2]
print(salary_at_index_2)

Male