In [1]:
#creating series
#1.creating empty series

import pandas as pd

ser = pd.Series()

print(ser)

Series([], dtype: object)

In [2]:
#2.creating series from numpy array
import pandas as pd
import numpy as np

data = np.array(['g', 'e', 'e', 'k', 's'])

ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [1]:
#3.Creating a Series from a Dictionary

import pandas as pd

data_dict = {'Geeks': 10, 'for': 20, 'geeks': 30}

ser = pd.Series(data_dict)
print(ser)

Geeks    10
for      20
geeks    30
dtype: int64

In [1]:
#4.Creating a Series Using NumPy Functions
import numpy as np
import pandas as pd

ser = pd.Series(np.linspace(1, 10, 5))
print(ser)

0     1.00
1     3.25
2     5.50
3     7.75
4    10.00
dtype: float64

In [1]:
#5.Creating a Series Using range()
import pandas as pd

ser = pd.Series(range(5, 15))
print(ser)

0     5
1     6
2     7
3     8
4     9
5    10
6    11
7    12
8    13
9    14
dtype: int64

In [2]:
#Module 2
#Accessing the First Element of Series
#Series named 'ser' is created from a NumPy array 'data' containing the elements
#'g', 'e', 'e', 'k', 's', 'f', 'o', 'r', 'g', 'e', 'e', 'k', 's'. The first element 
#of the series is accessed and printed using `print(ser[0])`

# import pandas and numpy
import pandas as pd
import numpy as np

# creating simple array
data = np.array(['g', 'e', 'e', 'k', 's', 'f',
                 'o', 'r', 'g', 'e', 'e', 'k', 's'])
ser = pd.Series(data)
# retrieve the first element
print(ser[0])

g

In [3]:
#2Accessing First 5 Elements of Series
# import pandas and numpy
import pandas as pd
import numpy as np

# creating simple array
data = np.array(['g', 'e', 'e', 'k', 's', 'f',
                 'o', 'r', 'g', 'e', 'e', 'k', 's'])
ser = pd.Series(data)
# retrieve the first element
print(ser[:5])

0    g
1    e
2    e
3    k
4    s
dtype: object

In [4]:
#3.Accessing Last 10 Elements of Series
# import pandas and numpy
import pandas as pd
import numpy as np

# creating simple array
data = np.array(['g', 'e', 'e', 'k', 's', 'f',
                 'o', 'r', 'g', 'e', 'e', 'k', 's'])
ser = pd.Series(data)

# retrieve the first element
print(ser[-10:])

3     k
4     s
5     f
6     o
7     r
8     g
9     e
10    e
11    k
12    s
dtype: object

In [1]:
#3.Accessing First 5 Elements of Series in .csv File
import pandas as pd

# making data frame
df = pd.read_csv("heart.csv")

ser = pd.Series(df['age'])
ser.head(5)

0    68
1    58
2    44
3    37
4    50
Name: age, dtype: int64

In [2]:
#4.Accessing a Single Element Using index Label
import pandas as pd
import numpy as np

# creating simple array
data = np.array(['g', 'e', 'e', 'k', 's', 'f',
                 'o', 'r', 'g', 'e', 'e', 'k', 's'])
ser = pd.Series(data, index=[10, 11, 12, 13, 14,
                             15, 16, 17, 18, 19, 20, 21, 22])

# accessing a element using index element
print(ser[16])

o

In [3]:
#5 Accessing a Multiple Element Using index Label
# import pandas and numpy
import pandas as pd
import numpy as np

# creating simple array
data = np.array(['g', 'e', 'e', 'k', 's', 'f',
                 'o', 'r', 'g', 'e', 'e', 'k', 's'])
ser = pd.Series(data, index=[10, 11, 12, 13, 14,
                             15, 16, 17, 18, 19, 20, 21, 22])

# accessing a multiple element using
# index element
print(ser[[10, 11, 12, 13, 14]])

10    g
11    e
12    e
13    k
14    s
dtype: object

In [4]:
#6.Access Multiple Elements by Providing Label of Index
# importing pandas and numpy
import pandas as pd
import numpy as np

ser = pd.Series(np.arange(3, 9), index=['a', 'b', 'c', 'd', 'e', 'f'])

print(ser[['a', 'd']])

a    3
d    6
dtype: int64

In [5]:
#module3
#Binary operations on pandas
#1. Arithmetic Operations on Series

import pandas as pd
s1 = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
s2 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])

# Adding the two Series
result = s1 + s2
print(result)

a    11
b    22
c    33
dtype: int64

In [6]:
#2. Comparison Operations on Series
import pandas as pd
s1 = pd.Series([10, 20, 30])
s2 = pd.Series([10, 25, 30])

# Comparing the two Series
result = s1 == s2
print(result)

0     True
1    False
2     True
dtype: bool

In [7]:
#Binary Operations on Pandas DataFrame
#1. Arithmetic Operations on DataFrames
import pandas as pd
df1 = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60]})
df2 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Subtracting the DataFrames
result = df1 - df2
print(result)

    A   B
0   9  36
1  18  45
2  27  54

In [8]:
#2.Comparison operations in pandas dataframe

import pandas as pd
df1 = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60]})
df2 = pd.DataFrame({'A': [5, 15, 35], 'B': [30, 60, 55]})

# Checking if elements of df1 are greater than df2
result = df1 > df2
print(result)

       A      B
0   True   True
1   True  False
2  False   True

In [9]:
#3.Logical Operations on DataFrame and Series

import pandas as pd
s1 = pd.Series([True, False, True])
s2 = pd.Series([False, False, True])

# Applying logical AND
result = s1 & s2
print(result)

0    False
1    False
2     True
dtype: bool

In [10]:
#Handling Missing Data in Binary Operations

import pandas as pd 
df1 = pd.DataFrame({'A': [1, 2, None], 'B': [4, None, 6]})
df2 = pd.DataFrame({'A': [1, None, 3], 'B': [None, 5, 6]})

# Adding the DataFrames
result = df1 + df2
print(result)

     A     B
0  2.0   NaN
1  NaN   NaN
2  NaN  12.0

In [11]:
#module 4

#Pandas Series Index Attribute
import pandas as pd

data = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

# Accessing the index
print("Original Index:", data.index)

# Modifying the index
data.index = ['w', 'x', 'y', 'z']
print("Modified Series:\n", data)

Original Index: Index(['a', 'b', 'c', 'd'], dtype='object')
Modified Series:
 w    10
x    20
y    30
z    40
dtype: int64

In [12]:
#Example 1. Assigning Duplicate Index Labels

import pandas as pd

series = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon'])

# Creating the row axis labels
series.index = ['City 1', 'City 1', 'City 3', 'City 3'] 
print(series)

City 1    New York
City 1     Chicago
City 3     Toronto
City 3      Lisbon
dtype: object

In [15]:
#Example 2. Resetting Index to Default

import pandas as pd

Date = ['1/1/2018', '2/1/2018', '3/1/2018', '4/1/2018']
idx_name = ['Day 1', 'Day 2', 'Day 3', 'Day 4']

sr = pd.Series(data = Date,        # Series Data
              index = idx_name   # Index
              )

# Resetting index to default
sr.reset_index(drop=True, inplace=True)
print(sr)

0    1/1/2018
1    2/1/2018
2    3/1/2018
3    4/1/2018
dtype: object

In [16]:
#Module 4
#Create a Pandas Series from Array
import pandas as pd
import numpy as np

data = np.array(['a', 'b', 'c', 'd', 'e'])

s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [17]:
#Creating a Pandas Series With a Custom Index
import pandas as pd
import numpy as np

data = np.array(['a', 'b', 'c', 'd', 'e'])

s = pd.Series(data, index=[1000, 1001, 1002, 1003, 1004])

print(s)

1000    a
1001    b
1002    c
1003    d
1004    e
dtype: object